[submodule "extensions/AbuseFilter"]
	path = extensions/AbuseFilter
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/AbuseFilter
	branch = REL1_39
[submodule "extensions/CategoryTree"]
	path = extensions/CategoryTree
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CategoryTree
	branch = REL1_39
[submodule "extensions/Cite"]
	path = extensions/Cite
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Cite
	branch = REL1_39
[submodule "extensions/CiteThisPage"]
	path = extensions/CiteThisPage
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CiteThisPage
	branch = REL1_39
[submodule "extensions/CodeEditor"]
	path = extensions/CodeEditor
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CodeEditor
	branch = REL1_39
[submodule "extensions/ConfirmEdit"]
	path = extensions/ConfirmEdit
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ConfirmEdit
	branch = REL1_39
[submodule "extensions/Gadgets"]
	path = extensions/Gadgets
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Gadgets
	branch = REL1_39
[submodule "extensions/ImageMap"]
	path = extensions/ImageMap
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ImageMap
	branch = REL1_39
[submodule "extensions/InputBox"]
	path = extensions/InputBox
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/InputBox
	branch = REL1_39
[submodule "extensions/Interwiki"]
	path = extensions/Interwiki
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Interwiki
	branch = REL1_39
[submodule "extensions/Math"]
	path = extensions/Math
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Math
	branch = REL1_39
[submodule "extensions/MultimediaViewer"]
	path = extensions/MultimediaViewer
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/MultimediaViewer
	branch = REL1_39
[submodule "extensions/Nuke"]
	path = extensions/Nuke
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Nuke
	branch = REL1_39
[submodule "extensions/OATHAuth"]
	path = extensions/OATHAuth
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/OATHAuth
	branch = REL1_39
[submodule "extensions/PageImages"]
	path = extensions/PageImages
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/PageImages
	branch = REL1_39
[submodule "extensions/ParserFunctions"]
	path = extensions/ParserFunctions
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ParserFunctions
	branch = REL1_39
[submodule "extensions/PdfHandler"]
	path = extensions/PdfHandler
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/PdfHandler
	branch = REL1_39
[submodule "extensions/Poem"]
	path = extensions/Poem
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Poem
	branch = REL1_39
[submodule "extensions/Renameuser"]
	path = extensions/Renameuser
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Renameuser
	branch = REL1_39
[submodule "extensions/ReplaceText"]
	path = extensions/ReplaceText
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ReplaceText
	branch = REL1_39
[submodule "extensions/Scribunto"]
	path = extensions/Scribunto
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Scribunto
	branch = REL1_39
[submodule "extensions/SecureLinkFixer"]
	path = extensions/SecureLinkFixer
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SecureLinkFixer
	branch = REL1_39
[submodule "extensions/SpamBlacklist"]
	path = extensions/SpamBlacklist
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SpamBlacklist
	branch = REL1_39
[submodule "extensions/SyntaxHighlight_GeSHi"]
	path = extensions/SyntaxHighlight_GeSHi
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SyntaxHighlight_GeSHi
	branch = REL1_39
[submodule "extensions/TemplateData"]
	path = extensions/TemplateData
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/TemplateData
	branch = REL1_39
[submodule "extensions/TextExtracts"]
	path = extensions/TextExtracts
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/TextExtracts
	branch = REL1_39
[submodule "extensions/TitleBlacklist"]
	path = extensions/TitleBlacklist
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/TitleBlacklist
	branch = REL1_39
[submodule "extensions/VisualEditor"]
	path = extensions/VisualEditor
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/VisualEditor
	branch = REL1_39
[submodule "extensions/WikiEditor"]
	path = extensions/WikiEditor
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/WikiEditor
	branch = REL1_39
[submodule "skins/MinervaNeue"]
	path = skins/MinervaNeue
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/MinervaNeue
	branch = REL1_39
[submodule "skins/MonoBook"]
	path = skins/MonoBook
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/MonoBook
	branch = REL1_39
[submodule "skins/Timeless"]
	path = skins/Timeless
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Timeless
	branch = REL1_39
[submodule "skins/Vector"]
	path = skins/Vector
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Vector
	branch = REL1_39
[submodule "vendor"]
	path = vendor
	url = https://gerrit.wikimedia.org/r/mediawiki/vendor
	branch = REL1_39
[submodule "extensions/CookieWarning"]
	path = extensions/CookieWarning
	url = https://github.com/wikimedia/mediawiki-extensions-CookieWarning.git
[submodule "extensions/Bootstrap"]
	path = extensions/Bootstrap
	url = https://github.com/ProfessionalWiki/Bootstrap.git
[submodule "extensions/CirrusSearch"]
	path = extensions/CirrusSearch
	url = https://github.com/wikimedia/mediawiki-extensions-CirrusSearch.git
[submodule "extensions/Elastica"]
	path = extensions/Elastica
	url = https://github.com/wikimedia/mediawiki-extensions-Elastica.git
[submodule "extensions/WikiAdmin"]
	path = extensions/WikiAdmin
	url = https://gitlab.com/caindle-cloud/mediawiki-extension-wikiadmin.git
[submodule "extensions/TitleKey"]
	path = extensions/TitleKey
	url = https://github.com/wikimedia/mediawiki-extensions-TitleKey.git
[submodule "extensions/Maps"]
	path = extensions/Maps
	url = https://github.com/ProfessionalWiki/Maps.git
[submodule "extensions/EmbedVideo"]
	path = extensions/EmbedVideo
	url = https://github.com/StarCitizenWiki/mediawiki-extensions-EmbedVideo
[submodule "extensions/ParserHooks"]
	path = extensions/ParserHooks
	url = https://github.com/JeroenDeDauw/ParserHooks.git
[submodule "extensions/Validator"]
	path = extensions/Validator
	url = https://github.com/JeroenDeDauw/Validator.git
[submodule "extensions/Echo"]
	path = extensions/Echo
	url = https://github.com/wikimedia/mediawiki-extensions-Echo.git
[submodule "extensions/Network"]
	path = extensions/Network
	url = https://github.com/ProfessionalWiki/Network.git
[submodule "extensions/CodeMirror"]
	path = extensions/CodeMirror
	url = https://github.com/wikimedia/mediawiki-extensions-CodeMirror.git
[submodule "extensions/WikiSEO"]
	path = extensions/WikiSEO
	url = https://github.com/wikimedia/mediawiki-extensions-WikiSEO.git
[submodule "extensions/UniversalLanguageSelector"]
	path = extensions/UniversalLanguageSelector
	url = https://github.com/wikimedia/mediawiki-extensions-UniversalLanguageSelector.git
[submodule "extensions/Cargo"]
	path = extensions/Cargo
	url = https://github.com/wikimedia/mediawiki-extensions-Cargo.git
[submodule "extensions/PageForms"]
	path = extensions/PageForms
	url = https://github.com/wikimedia/mediawiki-extensions-PageForms.git
[submodule "extensions/AdvancedSearch"]
	path = extensions/AdvancedSearch
	url = https://github.com/wikimedia/mediawiki-extensions-AdvancedSearch.git
[submodule "extensions/UserMerge"]
	path = extensions/UserMerge
	url = https://github.com/wikimedia/mediawiki-extensions-UserMerge.git
[submodule "extensions/CreateUserPage"]
	path = extensions/CreateUserPage
	url = https://github.com/wikimedia/mediawiki-extensions-CreateUserPage.git
[submodule "extensions/NewUserMessage"]
	path = extensions/NewUserMessage
	url = https://github.com/wikimedia/mediawiki-extensions-NewUserMessage.git
[submodule "extensions/MagicNoCache"]
	path = extensions/MagicNoCache
	url = https://github.com/wikimedia/mediawiki-extensions-MagicNoCache.git
[submodule "extensions/HeaderFooter"]
	path = extensions/HeaderFooter
	url = https://github.com/enterprisemediawiki/HeaderFooter.git
[submodule "extensions/DisplayTitle"]
	path = extensions/DisplayTitle
	url = https://github.com/wikimedia/mediawiki-extensions-DisplayTitle.git
[submodule "extensions/HeaderTabs"]
	path = extensions/HeaderTabs
	url = https://github.com/wikimedia/mediawiki-extensions-HeaderTabs.git
[submodule "extensions/SemanticMediaWiki"]
	path = extensions/SemanticMediaWiki
	url = https://github.com/SemanticMediaWiki/SemanticMediaWiki.git
[submodule "extensions/ModernTimeline"]
	path = extensions/ModernTimeline
	url = https://github.com/ProfessionalWiki/ModernTimeline.git
[submodule "extensions/UserFunctions"]
	path = extensions/UserFunctions
	url = https://github.com/wikimedia/mediawiki-extensions-UserFunctions.git
[submodule "https://github.com/wikimedia/mediawiki-extensions-MassEditRegex.git"]
	path = https://github.com/wikimedia/mediawiki-extensions-MassEditRegex.git
	url = extensions/MassEditRegex
[submodule "extensions/MassEditRegex"]
	path = extensions/MassEditRegex
	url = https://github.com/wikimedia/mediawiki-extensions-MassEditRegex.git
[submodule "extensions/RegexFunctions"]
	path = extensions/RegexFunctions
	url = https://github.com/wikimedia/mediawiki-extensions-RegexFunctions.git
[submodule "extensions/RevisionSlider"]
	path = extensions/RevisionSlider
	url = https://github.com/wikimedia/mediawiki-extensions-RevisionSlider.git
[submodule "skins/Medik"]
	path = skins/Medik
	url = https://bitbucket.org/wikiskripta/Medik.git
[submodule "skins/chameleon"]
	path = skins/chameleon
	url = https://github.com/ProfessionalWiki/Chameleon.git
[submodule "extensions/Comments"]
	path = extensions/Comments
	url = https://github.com/wikimedia/mediawiki-extensions-Comments
[submodule "extensions/ContentStabilization"]
	path = extensions/ContentStabilization
	url = https://github.com/wikimedia/mediawiki-extensions-ContentStabilization
[submodule "extensions/AccessControl"]
	path = extensions/AccessControl
	url = https://github.com/wikimedia/mediawiki-extensions-AccessControl
[submodule "extensions/DrawioEditor"]
	path = extensions/DrawioEditor
	url = https://github.com/wikimedia/mediawiki-extensions-DrawioEditor
[submodule "extensions/TorBlock"]
	path = extensions/TorBlock
	url = https://github.com/wikimedia/mediawiki-extensions-TorBlock
[submodule "extensions/ApprovedRevs"]
	path = extensions/ApprovedRevs
	url = https://github.com/wikimedia/mediawiki-extensions-ApprovedRevs
[submodule "extensions/RelatedArticles"]
	path = extensions/RelatedArticles
	url = https://github.com/wikimedia/mediawiki-extensions-RelatedArticles
[submodule "extensions/Lockdown"]
	path = extensions/Lockdown
	url = https://github.com/wikimedia/mediawiki-extensions-Lockdown
[submodule "extensions/Translate"]
	path = extensions/Translate
	url = https://github.com/wikimedia/mediawiki-extensions-Translate
[submodule "extensions/Popups"]
	path = extensions/Popups
	url = https://github.com/wikimedia/mediawiki-extensions-Popups
[submodule "extensions/LabeledSectionTransclusion"]
	path = extensions/LabeledSectionTransclusion
	url = https://github.com/wikimedia/mediawiki-extensions-LabeledSectionTransclusion
[submodule "extensions/ElectronPdfService"]
	path = extensions/ElectronPdfService
	url = https://github.com/wikimedia/mediawiki-extensions-ElectronPdfService
[submodule "extensions/PdfBook"]
	path = extensions/PdfBook
	url = https://github.com/debtcompliance/PdfBook
[submodule "extensions/Collection"]
	path = extensions/Collection
	url = https://github.com/wikimedia/mediawiki-extensions-Collection
[submodule "extensions/Checklists"]
	path = extensions/Checklists
	url = https://github.com/wikimedia/mediawiki-extensions-Checklists
[submodule "extensions/RatePage"]
	path = extensions/RatePage
	url = https://gitlab.com/nonsensopedia/extensions/ratepage.git
[submodule "extensions/GroupsSidebar"]
	path = extensions/GroupsSidebar
	url = https://github.com/wikimedia/mediawiki-extensions-GroupsSidebar.git
[submodule "extensions/CentralNotice"]
	path = extensions/CentralNotice
	url = https://github.com/wikimedia/mediawiki-extensions-CentralNotice
[submodule "extensions/LinkTitles"]
	path = extensions/LinkTitles
	url = https://github.com/bovender/LinkTitles
[submodule "extensions/BlueSpicePrivacy"]
	path = extensions/BlueSpicePrivacy
	url = https://github.com/wikimedia/mediawiki-extensions-BlueSpicePrivacy
[submodule "extensions/UserAgreement"]
	path = extensions/UserAgreement
	url = https://github.com/wikimedia/mediawiki-extensions-UserAgreement
[submodule "extensions/ImportUsers"]
	path = extensions/ImportUsers
	url = https://github.com/wikimedia/mediawiki-extensions-ImportUsers
[submodule "extensions/PluggableAuth"]
	path = extensions/PluggableAuth
	url = https://github.com/wikimedia/mediawiki-extensions-PluggableAuth
[submodule "extensions/LDAPProvider"]
	path = extensions/LDAPProvider
	url = https://github.com/wikimedia/mediawiki-extensions-LDAPProvider
[submodule "extensions/LDAPAuthentication2"]
	path = extensions/LDAPAuthentication2
	url = https://github.com/wikimedia/mediawiki-extensions-LDAPAuthentication2
[submodule "extensions/LDAPAuthorization"]
	path = extensions/LDAPAuthorization
	url = https://github.com/wikimedia/mediawiki-extensions-LDAPAuthorization
[submodule "extensions/LDAPUserInfo"]
	path = extensions/LDAPUserInfo
	url = https://github.com/wikimedia/mediawiki-extensions-LDAPUserInfo
[submodule "extensions/LDAPGroups"]
	path = extensions/LDAPGroups
	url = https://github.com/wikimedia/mediawiki-extensions-LDAPGroups
[submodule "extensions/Lingo"]
	path = extensions/Lingo
	url = https://github.com/wikimedia/mediawiki-extensions-Lingo
